attrs==23.1.0
build==0.10.0
coverage==7.2.4
cycler==0.11.0
fonttools==4.39.3
iniconfig==2.0.0
kiwisolver==1.4.4
matplotlib==3.5.0
more-itertools==9.1.0
nanowire-network-simulator @ git+https://github.com/Mandrab/nn_simulator.git@ce7f6baeb3916b885dfa45efa1d0d372e9f6821f
networkx==2.6.3
numpy==1.22.3
packaging==23.1
Pillow==9.5.0
pluggy==1.0.0
progressbar2==4.0.0
py==1.11.0
pyparsing==3.0.9
pyproject_hooks==1.0.0
pytest==7.1.1
pytest-cov==3.0.0
python-dateutil==2.8.2
python-utils==3.5.2
scipy==1.7.2
setuptools-scm==7.1.0
six==1.16.0
tomli==2.0.1
typing_extensions==4.5.0
webots==0.0.1
